{% extends "base.html" %} {% block content %}

<div class="flex flex-wrap flex-row justify-between items-center pb-4">
	<div class="text-3xl font-bold">Hi {{request.user}}!</div>
	<div class="text-lg text-red-600"><a href="/user/logout">Log out</a></div>
</div>

<div class="text-xs text-gray-600 pb-3">
	Tasks: {{ tasks.length }}
	{{completed_tasks}} out of {{total_tasks}} are completed
</div>

{% block content2 %} {% endblock %}

<a href="/create-task/">
	<button
		class="bg-red-500 hover:bg-red-700 text-white font-medium py-2 px-4 rounded-md font-base text-center mt-3 w-full">
		Add
	</button></a>
<ul class="flex flex-row flex-wrap justify-center mt-2">
	{% for page in paginator.page_range %} (
	<li class="text-xs text-gray-600 hover:text-gray-900 hover:bg-gray-200 p-1">
		<a href="?page={{page}}&search={{request.GET.search}}">{{page}}</a>
	</li>
	) {% endfor %}
</ul>

</br>
<a href="/reportSettings/">
	<div class="text-lg text-red-600 text-center bg-gray-200 hover:bg-gray-400 py-2 px-4 rounded-md">Report Settings
	</div>
</a>

{% endblock content %}