{% extends "base.html" %}

{% block content %}
<div class="flex flex-wrap flex-row justify-between items-center mb-8">
	<div class="text-3xl font-bold">TODO App - Update</div>
</div>

<form action="" method="post">     
    <div class="flex justify-center flex-col w-full text-base">
                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    {{ form.title.errors }}
                    <label for="{{ form.title.id_for_label }}">Title:</label><br/>
                    {{ form.title }}
                </div>
                <div class="fieldWrapper">
                    {{ form.description.errors }}
                    <label for="{{ form.description.id_for_label }}">Description:</label><br/>
                    {{ form.description }}
                </div>
                <div class="fieldWrapper">
                    {{ form.priority.errors }}
                    <label for="{{ form.priority.id_for_label }}">Priority:</label>
                    {{ form.priority }}
                </div>
                <div class="fieldWrapper">
                    {{ form.status.errors }}
                    <label for="{{ form.status.id_for_label }}">Status:</label>
                    {{ form.status }}
                </div>
                {% comment %} <div class="fieldWrapper">
                    {{ form.completed.errors }}
                    <label for="{{ form.completed.id_for_label }}">Completed:</label>
                    {{ form.completed }}
                </div> {% endcomment %}
                {% csrf_token %}
                {% comment %} <button type="submit" class="btn inline-block px-6 py-2 border-2 border-gray-600 text-gray-600 font-medium text-xs leading-tight uppercase rounded hover:bg-gray-800 hover:bg-opacity-5 focus:outline-none transition duration-150 ease-in-out" type="button" id="button-addon3">CREATE</button> {% endcomment %}
                <a href="/create-task/">
                    <button class="bg-red-500 hover:bg-red-700 text-white font-medium py-2 px-4 rounded-md font-base text-center mt-8 w-full">
                        Update
                    </button>
                </a>
    </div>
</form> 
{% endblock content %}